<table>
    <tr>
      <td>
        <a routerLink="/">
          <img src="\assets\flowerrr.PNG" alt="Logo" title="Hema" height="60" width="60">
        </a>
      </td>
      <td>
        <a routerLink="/"></a> &nbsp;
        <a routerLink="one-home">one-home</a> &nbsp;|
        <a routerLink="one-c1">one-c1</a> &nbsp;|
        <a routerLink="one-c2">one-c2</a> &nbsp;|
        <a routerLink="one-c3">one-c3</a> &nbsp;|
        <a routerLink="one-c4">one-c4</a> &nbsp;|
        <a routerLink="one-c5">one-c5</a> 
      </td>
    </tr>
  </table>